!!!html

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %title EIPiD Password Reset

%h1 Please reset your EIPiD password!

%p #{link_to 'Click here to reset your password', reset_password_user_path(@user.reset_token)} in the EIPiD system. If you believe this email was sent to you in error, please contact the manager for #{@venue.name}.

%p Thanks!
