!!!html

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %title EIPiD Password Reset

%h1 Please reset your EIPiD password!

%p
  #{link_to 'Click here to reset your password', reset_password_user_url(@user.reset_token)} in the EIPiD system.
  - if @venue.nil?
    If you believe this email was sent to you in error, please contact #{ENV['site_name']} ATTN: #{ENV['site_email']}
  - else
    If you believe this email was sent to you in error, please contact the manager for #{@venue.name}.

%p Thanks!
