%h1 Congratulations

That's it! You're signed up for EIPiD. Where do you go from here?
%ol
  %li Download the app on your phone and log in with the phone number and password you just set.
  %li Use your phone as your ID to get into participating venues.
  %li Venues will periodically text you promotions and special offers. Check your EIPiD app for ongoing offers.
