%h1.page-header Congratulations

That's it! You're signed up for EIPiD. Where do you go from here?
%ol
  %li
    Download the app on to your respective device.  iPhone users go to:
    = link_to('http://bit.ly/1ewtSKO', 'http://bit.ly/1ewtSKO') + '.'
    Android users go to:
    = link_to('http://bit.ly/1cDPOmo', 'http://bit.ly/1cDPOmo')
    and login to view your card.
  %li Use your phone as your ID to get into participating venues.
  %li Venues will periodically text you promotions and special offers. Check your EIPiD app for ongoing offers.
