%h1.page-header Welcome to EIPiD!

= render 'form'

= bootstrap_default_modal 'Reminder', id: 'photoReminder', buttons: {'Retake' => 'warning', 'Submit' => 'primary'} do
  Please make sure that you are clearly identifiable in the photo.

= bootstrap_default_modal 'Reminder', id: 'photoValidation', buttons: {'Retake' => 'warning'} do
  You must choose a photos