%h1.page-header Welcome to EIPiD!

= render 'form'

= bootstrap_default_modal 'Reminder', id: 'photoReminder', buttons: {'Retake' => 'warning', 'Submit' => 'primary'} do
  Please make sure that you are clearly identifiable in your photo. If you are choosing an Existing Photo, your image will appear as it does in your Camera Roll preview.

= bootstrap_default_modal 'Reminder', id: 'photoValidation', buttons: {'Retake' => 'warning'} do
  You must choose a photo