%h1.page-header PIN Reset Token Expired

%p PIN reset links must be used within 24 hours. This security measure prevents a hacker from resetting your PIN without your knowledge using an old reset link.
