%h1.page-header Card Levels

%ul.unstyled.card-levels-list
  - @card_levels.each do |card_level|
    %li.card-level-listing.clearfix
      .card-preview.pull-left{ 'class' => "theme-#{card_level.theme}" }
      .info.pull-left
        %h2= card_level.name
        %h3 Benefits
        %ul.unstyled
          - card_level.benefits.each do |benefit|
            %li= benefit.description
      .actions.pull-left
        =link_to 'Edit', edit_venue_card_level_path(card_level), class: 'btn btn-mini'

.actions
  =link_to 'New Card Level', new_venue_card_level_path(), class: 'btn'
