%h1.page-header Card Levels

%ul.unstyled.card-levels-list
  - @card_levels.each_with_index do |card_level, i|
    %li.card-level-listing.clearfix{ class: (i.even? ? 'even' : 'odd') }
      .row
      .span3
        %h2= card_level.name
        .card-preview.pull-left{ 'class' => "theme-#{card_level.theme}" }
      .span4.benefits
        %h4 Benefits
        %ul.unstyled
          - card_level.benefits.each do |benefit|
            %li= benefit.description
      .actions.pull-right
        =link_to edit_venue_card_level_path(card_level), class: 'btn btn-large' do
          %i.icon-edit
          Edit

.actions.clearfix
  =link_to new_venue_card_level_path(), class: 'btn btn-large btn-success pull-right' do
    %i.icon-plus
    New Card Level
