%h1.page-header Reset your password

=form_tag action: :forgot_password do
  %p Enter your email, and password reset instructions will be sent to you.
  .form-inline
    %input#email{name: 'email', type: 'email', placeholder: 'name@example.com'}
    %button.btn.btn-primary{type: 'submit'} Reset Password
