%h1.page-header Venue Users

%table.table.table-striped
  %thead
    %th Name
    %th Email
    %th Role
    %th
      = link_to 'Add User', new_venue_user_path, class: 'btn pull-right' if can? :create, User.new(venue: @venue)
  %tbody
    - @users.each do |user|
      %tr.user
        %td.name= user.name
        %td.email= user.email
        %td.roles{ colspan: '2' }= user.roles.to_a.map{|role| role.to_s.titleize}.join ', '


