%h1.page-header Password Reset Token Expired

%p Password reset links must be used within 24 hours. This security measure prevents a hacker from resetting your password without your knowledge using an old reset link.
