.hero-unit
  %img{src: asset_path('mainfeat.png')}
  %h1 EIPiD lets you create and manage electronic VIP cards

%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae autem degendae ratio maxime quidem illis placuit quieta. Beatus autem esse in maximarum rerum timore nemo potest. Qui enim existimabit posse se miserum esse beatus non erit. Negabat igitur ullam esse artem, quae ipsa a se proficisceretur; Bonum incolumis acies: misera caecitas. An ea, quae per vinitorem antea consequebatur, per se ipsa curabit?

.row.clearfix
  = link_to signup_user_path, class: 'btn btn-large btn-primary signup span4 offset2' do
    Signup your venue now!
    %i.icon-caret-right.pull-right
  = link_to 'Login', login_path, class: 'btn btn-large login span4'
