.hero-unit
  %img{src: asset_path('mainfeat.png')}
  %h1
    EIPiD
  %h2
    Electronic VIP Cards


.row.clearfix
  = link_to signup_user_path, class: 'btn btn-large btn-primary signup span4 offset2' do
    Signup your venue now!
    %i.icon-caret-right.pull-right
  = link_to 'Login', login_path, class: 'btn btn-large login span4'
