%h1.page-header EIPid lets you create and manage  electronic VIP cards
.row-fluid
  .span4
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae autem degendae ratio maxime quidem illis placuit quieta. Beatus autem esse in maximarum rerum timore nemo potest. Qui enim existimabit posse se miserum esse beatus non erit. Negabat igitur ullam esse artem, quae ipsa a se proficisceretur; Bonum incolumis acies: misera caecitas. An ea, quae per vinitorem antea consequebatur, per se ipsa curabit?
  .span8
    .row-fluid
      = link_to signup_user_path, class: 'btn btn-large btn-primary span6 signup' do
        Signup your venue now!
        %i.icon-caret-right.pull-right
    .row-fluid
      = link_to 'Login', login_path, class: 'btn btn-large span6 login'
