.row-fluid
  .venue-sub-block.span7
    %h2.block-title Activity
    .block-info
      - @venue.card_levels.each_slice(4) do |slice|
        .row-fluid.card-level-row
          - slice.each do |card_level|
            .span3{ :class => "theme-#{card_level.theme}" } Some #{card_level.name} Cards
      .row-fluid
        .span12 Promotions stuff




  .venue-sub-block.span5
    %h2.block-title Actions
