.row-fluid
  .venue-sub-block.span7
    %h2.block-title Activity
    .block-info
      - @venue.card_levels.each_slice(4) do |slice|
        .row-fluid.card-level-row
          - slice.each do |card_level|
            .span3.card-level{ :class => "theme-#{card_level.theme}" }
              .card-count #{card_level.cards.size}
              #{card_level.name} Cards
  .venue-sub-block.span5
    %h2.block-title Actions
