defaults: &defaults
  site_name:                # Name of site
  site_email:               # Site email
  secret_token:             # Secret token - Generated via `rake secret`
  session_store_key:        # Session store key
  basic_auth:               # Should the site be protected with basic authentication?
  basic_auth_user:          # Basic authentication user name
  basic_auth_password:      # Basic authentication password
  action_mailer_host:       # Default host used in mailer URL's
  bootstrap_user_email:     # Email address for bootstrapped admin user
  bootstrap_user_password:  # Password for bootstrapped admin user
  s3_key:                   # Amazon S3 key
  s3_secret:                # Amazon S3 secret
  s3_bucket:                # Amazon S3 upload bucket
  s3_asset_domain:          # Amazon S3 asset URL domain
  newrelic_license_key:     # License key for New Relic monitoring
  SENDGRID_USERNAME:        # Username for Sendgrid (capitalization comes from Heroku)
  SENDGRID_PASSWORD:        # Password for Sendgrid
  nexmo_key:                # Nexmo API key
  nexmo_secret:             # Nexmo API secret
  nexmo_default_sender:     # Number to send messages from if venue doesn't have a Nexmo number
  bitly_user:               # Username for Bit.ly link shortening
  bitly_api_key:            # API key for Bit.ly account

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults
  basic_auth: 'true'

production:
  <<: *defaults
