#temporary_cards-expired.container
  .expiration-warning
    .expired-card
    .notice This card has expired.
    .eipid-logo
  .request-box
    = link_to request_card_path(from: @temporary_card.class.name, from_id: @temporary_card.id), class: 'btn btn-inverse btn-request-card' do
      %i.icon-credit-card
        Request a Permanent Card from #{@venue.name}
