!!!html

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %title Pending Card Request

%h1 You have a new pending card request!

%p
  A user has requested a card with phone number #{@phone_number}.

%p
  To approve or reject this user, visit the #{link_to 'pending requests section of the cardholders page', root_url }.

%p Thanks!
