#cardholders-index {
  .last_name {
    font-weight: bold;
  }

  form {
    margin: 0;
  }

  .card-preview {
    height: 114px;
    width: 175px;

    position: relative;

    .cardholder-photo {
      width: 59px;
      height: 59px;
      position: absolute;
      top: 29px;
      left: 11px;
      line-height: 59px;
      text-align: center;
      background-color: black;

      img {
        max-height: 100%;
        margin-top: -1px;
      }
    }
  }
  .card-name {
    font-size: 20px;
  }

  .card-number {
    font-weight: bold;
  }

  .form-search {
    select {
      width: 220px;
      margin-bottom: 20px;
    }

    .search-query {
      width: 220px;
    }
  }

  .change-card-level select {
    margin-top: 11px;
  }

  td {
    padding: 15px;
  }

  .actions form {
    margin-left: 20px;
  }
}

td.cardholder {
  font-size: 18px;
}

.table-pair-striped {
  tbody {
    > tr:nth-child(4n+1) > td,
    > tr:nth-child(4n+1) > th,
    > tr:nth-child(4n+2) > td,
    > tr:nth-child(4n+2) > th {
      background-color: @tableBackgroundAccent;
    }

    tr {
      &.success > td {
        background-color: @successBackground;
      }
      &.error > td {
        background-color: @errorBackground;
      }
      &.warning > td {
        background-color: @warningBackground;
      }
      &.info > td {
        background-color: @infoBackground;
      }
    }
  }
}

.accordion-header {
  cursor: pointer;
}

.status-inactive {
  .muted;
}

#cardholders-batch_new {
  input {
    width: 188px;
    padding: 15px;
  }

  form {
    .button-remove {
      margin-top: 35px;
    }

    .button-add {
      margin-top: 28px;
    }


  }
}

#cardholders-bulk_import_form {
  .phone-numbers {
    height: 10em;
  }
}
