.card-preview {
  border-top: 25px solid fade(black, 10%);
  width: (@iPhoneRetinaLandscapeWidth / 2);
  height: (@iPhoneRetinaLandscapeHeight / 2);
  .border-radius(2.5px);
  display: block;
  border: none;
  box-sizing: border-box;

  margin-bottom: 5px;

  background-repeat: no-repeat;
  background-color: #333;

  background-size: cover;
  background-position: top center;
}

.card-level {
  position: relative;
  .border-radius(10px);
  overflow: hidden;
}

.controller-card_levels {
  .info {
    margin-left: 25px;
  }

  .benefits {
    h4 {
      line-height: 40px
    }

    li {
      font-size: 20px;
      line-height: 32px;

      border: 2px solid #ccc;
      .border-radius(@inputBorderRadius);
      margin-top: 10px;
      padding: 5px;
    }
  }
}

.card-level-listing {
  padding: 10px 0;

  &:nth-child(odd) {
    background-color: @tableBackgroundAccent;
  }

  [class*=span].actions {
    padding-top: 60px;

    input {
      width: 2em;
    }

    .row + .row {
      margin-top: 10px;
    }
  }

  .dates {
    font-size: @fontSizeSmall;
  }

  .info {
    margin-left: 10px;

    .card-preview-row {
      width: (@iPhoneRetinaLandscapeWidth / 2);
    }
  }
}

@media (max-width: 767px) {

.card-level {
  margin-bottom: 20px;
}

.venue-sub-block {
  margin-bottom: 20px;
}

}
