#kiosk-card_requests-new {
  padding: 0;

  .btn-request-card {
    display: block;
    font-size: 18px;
    line-height: 18px;
    padding: 20px;
    margin: 0 auto;
    width: 40%;
    .border-radius(10px);
  }

  .teaser-image {
    text-align: center;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    height: 190px;
    width: 100%;

    .border-radius(10px);
  }

  h2 {
    font-size: 18px;
  }
}
