#venues-new, #venues-create {
  .image-preview {
    max-height: 100px;
    max-width: 100px;
  }
}

.venue-block {
  margin-bottom: 32px;
}

.venue-block.hero-unit {
  padding-top: 32px;
  padding-bottom: 32px;
}

.venue-sub-block {
  border: 2px solid #ccc;
  .border-radius(5px);
  box-sizing: border-box;

  .block-title {
    padding: 10px;
    margin: 0;
    font-size: 18px;
    #gradient > .vertical(#fff, #eee);
    border-bottom: 2px solid #ccc;
    .box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.25));
    .border-radius(3px 3px 0 0);
  }
}

.row-section {
  margin-bottom: 30px;
}

.row-sub-section + .row-sub-section{
  margin-top: 16px;
}

.block-info {
  padding: 16px;
}


.card-level {
  text-align: center;
  padding: 16px 32px;
  height: 76px;
  overflow: hidden;

  background-color: #333;
  background-position: top center;
  background-size: cover;

  color: #fff;
  text-shadow: 1px 1px 5px #000;

  .card-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px 8px;
    line-height: 16px;

    font-size: 12px;
  }

  .card-count {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
  }

  .card-level-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.venue-info {
  .venue-logo {
    max-height: 64px;
    max-width: 64px;
  }

  i.icon-map-marker {
    margin-left: 10px;
  }

  .venue-name {
    font-size: 64px;
    line-height: 64px;
  }

  address {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
  }

  .venue-phone {
    font-size: 24px;
    color: gray;
  }

  & > * {
    margin-right: 20px;
  }
}

.media-list {
  .media-object {
    max-width: 170px;
    max-height: 170px;
  }

  .muted img{
    opacity: .25;
  }
}
