#venues-new, #venues-create {
  .image-preview {
    max-height: 100px;
    max-width: 100px;
  }
}

.venue-block {
  margin-bottom: 32px;
}

.venue-block.hero-unit {
  padding-top: 32px;
  padding-bottom: 32px;
}

.venue-sub-block {
  border: 2px solid #ccc;
  .border-radius(5px);
  overflow: hidden;

  .block-title {
    padding: 10px;
    margin: 0;
    font-size: 18px;
    #gradient > .vertical(#fff, #eee);
    border-bottom: 2px solid #ccc;
    .box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.25));
  }
}

.row-section {
  margin-bottom: 30px;
}

.block-info {
  padding: 16px;
}

.block-info {
  .row-fluid + .row-fluid {
    padding-top: 16px;
  }
}

.card-level {
  text-align: center;
  font-weight: bold;
  padding: 16px 32px;

  .card-count {
    font-size: 36px;
    line-height: 36px;
  }
}

.venue-info {
  .venue-logo {
    max-height: 64px;
    max-width: 64px;
  }

  i.icon-map-marker {
    margin-left: 10px;
  }

  .venue-name {
    font-size: 64px;
    line-height: 64px;
  }

  address {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
  }

  & > * {
    margin-right: 20px;
  }
}

.media-list {
  .media-object {
    max-width: 170px;
    max-height: 170px;
  }

  .muted img{
    opacity: .25;
  }
}
