<div class="pull-left input-append">
  <input type="hidden" id="card_level_id" name="card_level_id" value ="">
  <input type="text" class="filter-entry" autocomplete="off" placeholder="<%= placeholder %>" value="<%= selected_text %>">
  <span class="clear-button add-on icon-remove btn"></span>
</div>
