%h1.page-header You already have a card for #{@venue.name}!
%p.message
  It looks like you've already been issued an EIPiD card from #{@venue.name}. Just download the EIPiD App from iTunes or the Google Play and log in using your cell number
  - if pin_required?
    and four-digit pin
  \.

