%header.page-header
  %h1 Edit benefits for #{@card.cardholder.phone_number}
.row
  .span12.center-text
    .btn-group
      = link_to 'Benefits', '#', class: 'btn btn-large active'
      = link_to 'Redeemable Benefits', venue_card_edit_redeemable_benefits_path(@card), class: 'btn btn-large'
= render 'benefits_form', card: @card
