%header.page-header
  %h1 Edit benefits for #{@card.cardholder.phone_number}
  %ul.nav.nav-pills
    %li
      = link_to 'Benefits', venue_card_edit_benefits_path(@card)
    %li.active
      = link_to 'Guest List', '#'
= render 'guest_passes_form', card: @card
