%header.page-header
  %h1 Edit benefits for #{@card.cardholder.phone_number}
.row
  .span12.center-text
    .btn-group
      = link_to 'Benefits', venue_card_edit_benefits_path(@card), class: 'btn btn-large'
      = link_to @card.card_level.redeemable_benefit_title.pluralize, '#', class: 'btn btn-large active'
= render 'redeemable_benefits_form', card: @card
