%h1.page-header Request Sent to #{@venue.name}
%p.message
  You've successfully requested an EIPiD card. Once approved, we will send you a text message with information on how to download the EIPiD App and login!
%p.card_info
  EIPiD##{@cardholder.phone_number}
