%h1.page-header Request Sent to #{@venue.name}
%p.message
  You've successfully created an EIPiD account. We've emailed you a link to download your EIPiD card app.
%p.card_info
  EIPiD##{@cardholder.phone_number}
