%h1.page-header Card Request Sent to #{@venue.name}
%p.message
  Well Done! You've successfully requested a #{@venue.name} Membership Card.  Once your card is activated we will send you a text message with a link to download the card onto your device.
%p.card_info
  Card Number: #{@cardholder.phone_number}