%h1 Request Sent to #{@venue.name}
.message Your request is has been sent to #{@venue.name} and is being proscessed. in the meantime, _Download_ the EIPid app for your phone, and your new card will show up when approved.
