%a.btn.btn-navbar{ 'data-target' => '.nav-collapse', 'data-toggle' => 'collapse' }
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
=link_to ENV['site_name'], root_url, class: 'brand'
.nav-collapse.collapse
  %ul.nav
    - if current_user
      = nav_link 'Dashboard', venue_path
      = nav_link 'Card Levels', venue_card_levels_path
      = nav_link 'Managers', venue_users_path
